@font-face {
  font-family: 'FontAwesome';
  src: url('[[setting:fontwww]]fontawesome-webfont.eot?v=4.1.0');
  src: url('[[setting:fontwww]]fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
       url('[[setting:fontwww]]fontawesome-webfont.woff?v=4.1.0') format('woff'), 
       url('[[setting:fontwww]]fontawesome-webfont.ttf?v=4.1.0') format('truetype'), 
       url('[[setting:fontwww]]fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fa {
    margin-left: .3em;
    margin-right: .3em;
    color: #999;
}

.dir-rtl .fa {
}

a .fa {
    text-decoration: none;
}

.navbar-inner .fa-dashboard,
.navbar-inner .fa-briefcase,
.btn-success .fa-edit,
.btn-danger .fa-power-off {
    color: white;
}

.block .header .block_action>* {
    cursor: pointer;
}

.editing_hide,
.editing_show,
.editing_move,
.editing_groupsnone,
.editing_groupsvisible,
.editing_groupsseperate {
    padding-right:1.2em !important
}

.editing_move:hover {
    cursor:move
}

.block .header .title h2:before {
    font-family:FontAwesome;
    content:"\f0c9";
    margin-left:.3em;
    margin-right:.3em
}

.tree_item.branch:before {
    color: #999;
    font-family:FontAwesome;
    content:"\f07c ";
    margin-left:.3em;
    margin-right:.3em
}

.tree_item.emptybranch:before {
    color: #999;
    font-family:FontAwesome;
    content:"\f114 ";
    margin-left:.3em;
    margin-right:.3em
}

.block_navigation.block li.type_user>.tree_item.branch:before {
    content:"\f007 "
}

.block_navigation.block li.type_unknown.depth_1>.tree_item.branch:before {
    content:"\f015 "
}

.collapsed .tree_item.branch:before {
    font-family:FontAwesome;
    content:"\f07b ";
    margin-left:.3em;
    margin-right:.3em
}

.dir-rtl .collapsed .tree_item.branch:before {
    content:" \f053"
}

.jsenabled .block_navigation .block_tree .collapsed .tree_item.branch,
.jsenabled .block_navigation .block_tree .tree_item.branch,
.jsenabled .block_navigation .block_tree .tree_item.emptybranch,
.block_navigation .block_tree .collapsed .tree_item.branch,
.block_navigation .block_tree .tree_item.branch,
.block_navigation .tree_item.emptybranch,
.block_navigation .block_tree li.item_with_icon>p,
.jsenabled .block_settings .block_tree .collapsed .tree_item.branch,
.jsenabled .block_settings .block_tree .tree_item.branch,
.block_settings .block_tree .collapsed .tree_item.branch, 
.block_settings .block_tree .tree_item.branch, 
.block_settings .block_tree .tree_item {
    background-image: none;
    padding-left: 0px;
}

.jsenabled.dir-rtl .block_navigation .block_tree .collapsed .tree_item.branch,
.dir-rtl .block_navigation .block_tree .type_activity > p.tree_item.branch.hasicon.active_tree_node, 
.dir-rtl .block_navigation .block_tree .tree_item,
.jsenabled.dir-rtl .block_settings .block_tree .collapsed .tree_item.branch,
.dir-rtl .block_settings .block_tree .tree_item {
    background-image: none;
    padding-right: 0px;
}

.block_login .password label:before {
    font-family:FontAwesome;
    content:"\f084";
    margin-left:.3em;
    margin-right:.3em
}

.block_login .username label:before {
    font-family:FontAwesome;
    content:"\f007";
    margin-left:.3em;
    margin-right:.3em
}

.block_news_items .header .title h2:before {
    content:"\f0a1"
}

.block_navigation .header .title h2:before {
    content:"\f0e8"
}

.block_calendar_upcoming .header .title h2:before,
.block_calendar_month .header .title h2:before {
    content:"\f073"
}

.block_course_list .header .title h2:before {
    content:"\f108"
}

.block_completionstatus .header .title h2:before,
.block_selfcompletion .header .title h2:before {
    content:"\f0e4"
}

.block_rss_client .header .title h2:before {
    content:"\f09e"
}

.block_blog_menu .header .title h2:before {
    content:"\f02d"
}

.block_quiz_results .header .title h2:before {
    content:"\f080"
}

.block_quiz_navblock .header .title h2:before {
    content:"\f126"
}

.block_glossary_random .header .title h2:before {
    content:"\f0eb"
}

.block_book_toc .header .title h2:before {
    content:"\f02d"
}

.block_participants .header .title h2:before,
.block_online_users .header .title h2:before {
    content:"\f0c0"
}

.block_html .header .title h2:before {
    content:"\f022"
}

.block_section_links .header .title h2:before {
    content:"\f02e"
}

.block_activity_modules .header .title h2:before {
    content:"\f12e"
}

.block_comments .header .title h2:before {
    content:"\f075"
}

.block_settings .header .title h2:before {
    content:"\f085"
}

.block_admin_bookmarks .header .title h2:before {
    content:"\f02e"
}

.block_blog_tags .header .title h2:before,
.block_tags .header .title h2:before {
    content:"\f02c"
}

.block_private_files .header .title h2:before {
    content:"\f114"
}

.block_block_mentees .header .title h2:before {
    content:"\f0c0"
}

.block_messages .header .title h2:before {
    content:"\f0e0"
}

.block_community .header .title h2:before {
    content:"\f0ac"
}

.block_recent_activity .header .title h2:before {
    content:"\f017"
}

.block_search_forums .header .title h2:before {
    content:"\f0e6"
}

.block_myprofile .header .title h2:before {
    content:"\f007"
}

.block_adminblock .header .title h2:before {
    content:"\f009"
}

.block_feedback .header .title h2:before {
    content:"\f087"
}

.block_flickr .header .title h2:before {
    content:"\f03e"
}

.block_youtube .header .title h2:before {
    content:"\f145"
}

.block_course_badges .header .title h2:before {
    content:"\f091"
}

.block_twitter_search .header .title h2:before {
    content:"\f099"
}

#page-site-index h2.headingblock:before {
    display:block;
    float:left;
    font-family:FontAwesome;
    font-size:.85em;
    height:1.3em;
    text-align:center;
    width:1.5em;
    content:"\f0b1";
    margin-left:.3em;
    margin-right:.3em;
}

#page-site-index #site-news-forum h2.headingblock:before {
    content:"\f0a1"
}

#frontpage-category-names h2.headingblock:before {
    content:"\f07c"
}

.questionbankwindow.block .header .title h2:before {
    color:#fff;
    content:"\f128"
}

.spacer {
    content:"&nbsp;";
    width: 24px;
}

.spacer.iconsmall {
    width: 12px;
}

.jsenabled .moodle-actionmenu[data-enhance] .toggle-display.textmenu .caret,
.jsenabled .moodle-actionmenu[data-enhance] .toggle-display.textmenu .caret:hover {
    border-top-color: #999;
}

.block_navigation .block_tree li.item_with_icon > p img,
.block_navigation .block_tree .type_activity > p.tree_item.active_tree_node img,
.block_navigation .block_tree li > p.hasicon img {
    position: relative;
    margin-right: .3em;
}
